<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wake-on-LAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!--- <link rel="stylesheet" href="static/style.css" /> --->
    <a href="/add_pc">Add PC</a>
</head>

<body>
    <form action="/send_wol_packet" method="POST">
        <h1>Wake-on-LAN Utility</h1>
        <label for="pc">Click the button below to wake up your device.</label>
        <select name="MAC_ADDR" id="pc">
            {% for key, value in pc_list.items() %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="submit">Wake Up Device</input>
        <p id="status"></p>
    </form>

</body>

</html>