<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wake-on-LAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!--- <link rel="stylesheet" href="static/style.css" /> --->
</head>

<body>
    {% include 'header.html' %}

    <include src="{{ url_for('static', filename='header.html') }}"></include>
    <form action="/send_wol_packet" method="POST">
        <h1>Wake-on-LAN Utility</h1>
        <select name="MAC_ADDR" id="pc_select">
            {% for key, value in pc_list.items() %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Wake Up" />
    </form>
</body>

</html>