<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wake-on-LAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!--- <link rel="stylesheet" href="static/style.css" /> --->
</head>

<body>
    {% include 'header.html' %}

    <form action="/add_pc" method="POST">
        <h1>Add PC</h1>
        <label for="PC_NAME">PC Name:</label>
        <input type="text" name="PC_NAME" id="PC_NAME" />
        <br>
        <label for="MAC_ADDR">Mac Addr:</label>
        <input type="text" name="MAC_ADDR" id="MAC_ADDR" list="MAC_ADDR_LIST" required/>
        <datalist id="MAC_ADDR_LIST">
            {% for item in mac_adresses %}
            <option value="{{ item.mac }}">{{ item.ip }}</option>
            {% endfor %}
        </datalist>
        <br>
        <input type="submit" value="Add PC" />
        <p id="status"></p>
    </form>

    <form action="/delete_pc" method="POST">
        <h1>Delete PC</h1>
        <select name="MAC_ADDR" id="pc">
            {% for key, value in pc_list.items() %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Delete"></input>
        <p id="status"></p>
    </form>

    <form action="/update_subnet" method="POST">
        <h1>scan subnet</h1>
        <input type="text" name="SUBNET" id="SUBNET" value="{{ subnet }}"/>
        <input type="submit" value="change"></input>
    </form>

</body>

</html>
